﻿@model DevOpsAssignment.Models.Studenti

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Studenti</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cognome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cognome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Matricola)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Matricola)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdStudente }) |
    @Html.ActionLink("Back to List", "Index")
</p>
