﻿@model DevOpsAssignment.Models.Voti

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Voti</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Esami.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Esami.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Studenti.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Studenti.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Valutazione)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Valutazione)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdVoto }) |
    @Html.ActionLink("Back to List", "Index")
</p>
