﻿@model IEnumerable<DevOpsAssignment.Models.Voti>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Esami.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Studenti.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Valutazione)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Esami.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Studenti.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Valutazione)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdVoto }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdVoto }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdVoto })
        </td>
    </tr>
}

</table>
